.home-container {
  display: grid;
  grid-template-columns: 250px 1fr;

  overflow: hidden; /* keep scrolling inside content area only */
  grid-template-areas: 'sidebar content';
}

@media (max-width: 42em) {
  .home-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'sidebar'
      'content';
  }
}
