.display-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #fff;
}

.info-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 0;
  cursor: pointer;
  /* optional size */
  width: 20px;
  height: 20px;
}

.bank-tab-layout {
  display: inline-flex;
  align-items: center; /* center icon and text vertically */
  gap: 8px; /* small spacing between text and status */
}

.items-box-container {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1px solid #343434;
}

.items-box-layout {
  display: grid;
  width: max-content;
  grid-auto-rows: 50px;
  grid-template-columns: repeat(8, 50px);
  height: 360px;
  overflow-y: auto;
  gap: 20px;
}

/* make sure each image centers itself within its grid cell */
.items-box-layout img {
  width: 100%;
  height: 100%;
  object-fit: contain;

  aspect-ratio: 1 / 1;
}

/* Optional: hide scrollbar (WebKit) while keeping scrollability */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@media (max-width: 80em) {
  .display-header {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 0.5rem;
  }
}
