.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  padding: 0;
  margin: 0;
}

.home {
  width: 250px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 0;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: flex;
  place-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.navbar a:hover {
  background-color: hsl(0, 0%, 20%);
  color: #eab308;
}

@media (max-width: 42em) {
  .navbar {
    flex-direction: column;
    justify-content: center;
  }

  .home {
    width: 100vw;
  }

  .navbar a {
    width: 100vw;
    font-size: 1rem;
  }

  .navbar ul {
    flex-direction: column;
  }
}
