.bank-tag-card {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.5rem;
}

.copy-button {
  font-size: 1rem;
}

.card-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.like-button {
  flex-shrink: 0;
  cursor: pointer;
}
