.footer {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 2rem;
  border-top: 1px solid;
}

.footer-items {
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  justify-content: space-between;
}
