.app-container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 100vh;
  overflow: hidden;
}

.tags-container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  gap: 1em;
  text-align: center;
  justify-content: center;
  align-content: start;
  overflow: hidden;
}

.content-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 1em;
  padding: 2em;
}

.search-bar {
  flex: 1;
}

.search-bar input {
  border-color: white;
  color: white;
  font-size: 1.2rem;
  width: 50%;
}

.search-bar input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.search-bar svg {
  color: white;
}
