.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-container main {
  flex: 1;
  /* Offset fixed nav height so content isn't hidden */
  padding-top: 60px;
  min-height: 0;
}
